<%
  params = nil
  if @outlet.uuid.nil?
    params = {:url => "/outlets"}
  else
    params = {:url => "/outlet/#{@outlet.uuid}", :method => "PUT"}
  end

%>
<%= form_tag((@outlet.uuid.nil? ? "/outlets/": "/outlets/#{@outlet.uuid}/"), :method => @outlet.uuid.nil? ? :post : :put) do |f| %>
  <div class="field">
    <%= label_tag "outlet[name]", "Name" %><br />
    <%= text_field_tag "outlet[name]", @outlet.name %>
  </div>
  <div class="field">
    <%= label_tag "outlet[room]", "Room" %><br />
    <%= text_field_tag "outlet[room]", @outlet.room %>
  </div>
   <div class="field">
    <%= label_tag "outlet[room]", "On", :for=>"true" %><%= radio_button_tag "outlet[state]", true, @outlet.state, :id=>"true" %>
    <%= label_tag "outlet[room]", "Off", :for=>"false" %><%= radio_button_tag "outlet[state]", false, !@outlet.state, :id=>"false" %>
  </div>
  <div class="field">
    <%= label_tag "outlet[comNb]", "Commande Number" %><br />
    <%= text_field_tag "outlet[comNb]", @outlet.comNb %>
  </div>
  <div class="field">
    <%= label_tag "outlet[nbId]", "Number Id" %><br />
    <%= text_field_tag "outlet[nbId]", @outlet.nbId %>
  </div>
  <div class="actions">
    <%= submit_tag (@outlet.uuid.nil? ? "Create": "Update") %>
  </div>
<% end %>
